@using SocialBootstrapApi.App_Start
@using SocialBootstrapApi.Models
@{
    ViewBag.Title = "Home";
    CustomUserSession session = ViewBag.UserSession;
}

<script type="text/template" id="template-userprofile">
<% if (email) { %>    
    <div id="credential-info">
        <h4>Credential Info</h4>
        <img id="gravatar" src="<%= gravatarImageUrl64 %>" />
        <dl>
            <dt>Display Name</dt><dd><%= displayName %></dd>
            <dt>Email</dt><dd><%= email %></dd>
        </dl>
    </div>
<% } if (twitterUserId) { %>
    <div id="twitter-info">
        <h4>Twitter Info</h4>
        <dl>
            <dt>Screen Name</dt><dd><%= twitterScreenName %></dd>
            <dt>Name</dt><dd><%= twitterName %></dd>
            <dt>User Id</dt><dd><%= twitterUserId %></dd>
        </dl>
    </div>
<% } if (facebookUserId) { %>
    <div id="facebook-info">
        <h4>Facebook Info</h4>
        <dl>
            <dt>Name</dt><dd><%= facebookName %></dd>
            <dt>First Name</dt><dd><%= facebookFirstName %></dd>
            <dt>Last Name</dt><dd><%= facebookLastName %></dd>
            <dt>User Name</dt><dd><%= facebookUserName %></dd>
            <dt>User Id</dt><dd><%= facebookUserId %></dd>
            <dt>Email</dt><dd><%= facebookEmail %></dd>
        </dl>
    </div>
<% } %>
</script> 
<script type="text/template" id="template-tweets">
<% _.each(tweets, function(tweet){ 
        var user = tweet.user; %>    

    <dl class="twitter-tweet">
        <dd><img src="<%= user.profile_image_url %>" /></dd>
        <dd>
            <a href="#" data-cmd="twitterProfileChange:<%= user.screen_name %>">
                @@<%= user.screen_name %>
            </a>
            - <i><%= user.friends_count + ' / ' + user.followers_count %></i>
        </dd>
        <dd><%= tweet.text %></dd>
    </dl>

<% }); %>
</script> 
<script type="text/template" id="template-users">
<% _.each(users, function(user){ %>    

    <dl class="twitter-user">
        <dd><img src="<%= user.profile_image_url %>" /></dd>
        <dd data-cmd="twitterProfileChange:<%= user.screen_name %>">
            @@<%= user.screen_name %> -
            <i><%= user.friends_count + ' / ' + user.followers_count %></i>
        </dd>
        <dd><%= user.description %></dd>
    </dl>

<% }); %>
</script> 


<h2>@ViewBag.Message</h2>
<p>
    To learn more about the MVC PowerPack visit <a href="http://www.servicestack.net/mvc-powerpack/" title="ServiceStack MVC PowerPack Website">servicestack.net/mvc-powerpack</a>.
</p>

<div id="twitter">
	
	<div class="signed-out">
		<a href="@Url.Content("~/api/auth/twitter")"><img src="@Url.Content("~/Content/img/sign-in-with-twitter-l.png")" alt="Sign-in with Twitter" /></a>
	</div>
    
	<div class="signed-in">
		<h3 class="current-user"></h3>
		<ul class="tabs">
			<li class="active"><a href="#tweets" data-cmd="twitterTab:tweets">Tweets</a></li>
			<li><a href="#friends" data-cmd="twitterTab:friends">Friends</a></li>
			<li><a href="#followers" data-cmd="twitterTab:followers">Followers</a></li>
		</ul>
        <div class="tab-content"></div>
	</div>

</div>

@section SideBar {

<div id="register">
    <div id="signup">
        <h3>New Here? Join Today!</h3>
        <form class="form-stacked fade-when-loading" action="@Url.Content("~/api/register")" method="POST">
			<span class="error-summary"></span>
			<div class="clearfix">
    			<input class="input-medium" name="displayName" type="text" placeholder="Full Name" />
				<span class="help-inline"></span>
			</div>
			<div class="clearfix">
                <input class="input-medium" name="email" type="text" placeholder="Email" />
                <span class="help-inline"></span>
			</div>
			<div class="clearfix">
                <input class="input-medium" name="password" type="password" placeholder="Password" />
                <span class="help-inline"></span>
			</div>
			<div class="actions">
			    <button class="btn" type="submit">Sign up</button><b data-ajax="loading"></b>
                or <a href="#" data-cmd="signIn">sign in</a>
			</div>
        </form> 
    </div>
    <div id="register-login">
        <h3>Thanks for Registering!</h3>
        <p>   
            You can now sign in:
        </p>
        <form class="form-stacked fade-when-loading" action="@Url.Content("~/api/auth/credentials")">
			<div class="clearfix">
                <input class="input-medium" name="userName" type="text" placeholder="Username" />
                <span class="help-inline"></span>
			</div>
			<div class="clearfix">
                <input class="input-medium" name="password" type="password" placeholder="Password" />
                <span class="help-inline"></span>
			</div>
			<div class="actions">
			    <button class="btn" type="submit">Sign in</button>
                or <a href="#" data-cmd="unregistered">register</a>
			</div>
        </form>
    </div>
</div>

<div id="user-profile">
</div>

<div id="facebook-signin">
    <a href="@Url.Content("~/api/auth/facebook")"><img src="@Url.Content("~/Content/img/sign-in-with-facebook.png")" alt="Sign-in with Facebook" /></a>
</div>

<div id="twitter-signin">
    <a href="@Url.Content("~/api/auth/twitter")"><img src="@Url.Content("~/Content/img/sign-in-with-twitter-l.png")" alt="Sign-in with Twitter" /></a>
</div>

}

@section JavaScript {    
<script type="text/javascript">
    App.baseUrl = "@(Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~"))";    
    App.models.login.set({ isAuthenticated: @session.IsAuthenticated.ToString().ToLower() });
</script>
}