@using SocialBootstrapApi.App_Start
@using SocialBootstrapApi.Models
@{
    ViewBag.Title = "Home";
    CustomUserSession session = ViewBag.UserSession;
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about the MVC PowerPack visit <a href="http://www.servicestack.net/mvc-powerpack/" title="ServiceStack MVC PowerPack Website">servicestack.net/mvc-powerpack</a>.
</p>

@section SideBar {

<div id="register">
    <div id="signup">
        <h3>New Here? Join Today!</h3>
        <form action="@Url.Content("~/api/register")" method="POST">
            <b class="error"></b>
            <input class="input-large" name="displayName" type="text" placeholder="Full Name" />
            <input class="input-large" name="email" type="text" placeholder="Email" />
            <input class="input-large" name="password" type="password" placeholder="Password" />
            <button class="btn" type="submit">Sign up</button>
        </form> 
    </div>
    <div id="register-login">
        <h3>Thanks for Registering!</h3>
        <p>   
            You can now sign in:
        </p>
        <form action="@Url.Content("~/api/auth/credentials")">
            <input class="input-large" name="userName" type="text" placeholder="Username" />
            <input class="input-large" name="password" type="password" placeholder="Password" />
            <button class="btn" type="submit">Sign in</button>
        </form>
    </div>
</div>

<script type="text/template" id="template-userprofile">
<% if (email) { %>    
    <div id="credential-info">
        <h4>Credential Info</h4>
        <img id="gravatar" src="<%= gravatarImageUrl64 %>" />
        <dl>
            <dt>Display Name</dt><dd><%= displayName %></dd>
            <dt>Email</dt><dd><%= email %></dd>
        </dl>
    </div>
<% } if (twitterUserId) { %>
    <div id="twitter-info">
        <h4>Twitter Info</h4>
        <dl>
            <dt>Screen Name</dt><dd><%= twitterScreenName %></dd>
            <dt>Name</dt><dd><%= twitterName %></dd>
            <dt>User Id</dt><dd><%= twitterUserId %></dd>
        </dl>
    </div>
<% } if (facebookUserId) { %>
    <div id="facebook-info">
        <h4>Facebook Info</h4>
        <dl>
            <dt>Name</dt><dd><%= facebookName %></dd>
            <dt>First Name</dt><dd><%= facebookFirstName %></dd>
            <dt>Last Name</dt><dd><%= facebookLastName %></dd>
            <dt>User Name</dt><dd><%= facebookUserName %></dd>
            <dt>User Id</dt><dd><%= facebookUserId %></dd>
            <dt>Email</dt><dd><%= facebookEmail %></dd>
        </dl>
    </div>
<% } %>
</script>

<div id="user-profile">
</div>

<div id="facebook-signin">
    <a href="@Url.Content("~/api/auth/facebook")"><img src="@Url.Content("~/Content/img/sign-in-with-facebook.png")" alt="Sign-in with Facebook" /></a>
</div>

<div id="twitter-signin">
    <a href="@Url.Content("~/api/auth/twitter")"><img src="@Url.Content("~/Content/img/sign-in-with-twitter-l.png")" alt="Sign-in with Twitter" /></a>
</div>

}

@section JavaScript {    
<script type="text/javascript">    
    App.login.set({ isAuthenticated: @session.IsAuthenticated.ToString().ToLower() });
</script>
}