@using ServiceStack
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Social Bootstrap Api - Backbone + ServiceStack + MVC Single Page App Stack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
@*	@Html.RenderCssBundle("~/Content/app.css.bundle", BundleOptions.MinifiedAndCombined);
*@
    <link href="/Content/app.min.css?3611cd" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    @Html.Link("apple-touch-icon-precomposed", "~/Content/img/bootstrap-apple-114x114.png", new { sizes = "114x114" })
    @Html.Link("apple-touch-icon-precomposed", "~/Content/img/bootstrap-apple-72x72.png", new { sizes = "72x72" })
    @Html.Link("apple-touch-icon-precomposed", "~/Content/img/bootstrap-apple-57x57.png")
  </head>

  <body>
  
  	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
		  <a class="brand active" href="@Url.Action("Index", "Home")">Bootstrap Stack</a>

          <div class="nav-collapse">
		  	
		  	<ul class="nav">
				<li><a href="@Url.Action("About", "Home")">About</a></li>
				<li><a href="https://github.com/ServiceStack/SocialBootstrapApi">Git Hub</a></li>
			</ul>

		  	<div id="login" class="navbar-text pull-right">
				<ul id="signed-in" class="nav" data-dropdown="dropdown">				
					<li class="dropdown" data-dropdown="dropdown">
						<a href="#" class="dropdown-toggle"><span></span><b class="caret"></b></a>
						<ul class="dropdown-menu">					
							<li><a data-cmd="signOut">Sign out</a></li>
						</ul>
					</li>				
				</ul>
			</div>
            
		  </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  	<div class="container" style="background: white; padding: 20px 20px 10px;">
		<div class="page-header">
        @if (this.IsSectionDefined("Title"))
        {
			@RenderSection("Title", required: false);
        }
        else
        {
			<h1>Bootstrap ServiceStack MVC Backbone.js<small> with Twitter and Facebook auth built-in</small></h1>
        }
		</div>

		<div id="page-body" class="row"> 
			<div class="span8">
				@RenderBody()
			</div>
		    <div class="span4">
				@RenderSection("SideBar", required: false)
		    </div>
		</div>

		<footer>
			<p>&copy; Company 2011</p>
		</footer>
	</div>
    
  	<a href="http://github.com/ServiceStack/SocialBootstrapApi">
		<img style="position:absolute;top:0;right:0;border:0;z-index:1031" 
			 src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" 
             alt="Fork me on GitHub">
	</a>  

	<a id="by-link" href="https://github.com/ServiceStack/SocialBootstrapApi">Social Bootstrap Api</a>
        
	<script type="text/javascript">
		window.BASE_URL = '@Url.Content("~")';
	</script>

	@(true ? Html.Js("~/Content/js/jquery-1.7.js") : Html.Js("http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"))


@*  	@Html.RenderJsBundle("~/Content/app.js.bundle", BundleOptions.Normal);
*@
  	<script src="/Content/app.js?3611cf" type="text/javascript"></script>

	@RenderSection("JavaScript", required: false)

  </body>
</html>
