<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    @Html.Css("~/Content/css/bootstrap.css")
    @Html.Css("~/Content/default.css")

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/img/bootstrap-apple-57x57.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Content/img/bootstrap-apple-72x72.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Content/img/bootstrap-apple-114x114.png")">
  </head> 

	<body>

		<div id="fb-root"></div>

		<div class="topbar">
			<div class="fill">
				<div class="container">
					<a class="brand" href="https://github.com/ServiceStack/SocialBootstrapApi">Bootstrap Stack</a>
					<ul class="nav">
						<li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
						<li><a href="@Url.Action("Features", "Home")">Features</a></li>
						<li><a href="@Url.Action("About", "Home")">About</a></li>
					</ul>
            
					<div id="login">
						<div id="signed-out">
							<form action="@Url.Content("~/api/auth/credentials")" class="pull-right">
								<input class="input-small" name="userName" type="text" placeholder="Username">
								<input class="input-small" name="password" type="password" placeholder="Password">
								<button class="btn" type="submit">Sign in</button>
							</form>
						</div>

						<ul id="signed-in" class="nav secondary-nav" data-dropdown="dropdown">				
							<li class="dropdown" data-dropdown="dropdown">
								<a href="#" class="dropdown-toggle"></a>
								<ul class="dropdown-menu">					
									<li class="divider"></li>
									<li><a href="#" data-cmd="signOut">Sign out</a></li>
								</ul>
							</li>				
						</ul>
					</div>

				</div>
			</div>
		</div>

		<div class="container">

			<div class="content">
				<div class="page-header">
	 @if (this.IsSectionDefined("Title"))
     {
		@RenderSection("Title", required: false);
     }
     else
     {
		<h1>Bootstrap ServiceStack MVC Backbone.js<small> with Twitter and Facebook auth built-in</small></h1>
     }
				</div>
				<div class="row"> 
					<div class="span11">
						@RenderBody()
					</div>
					<div class="span5">
						@RenderSection("SideBar", required: false)
					</div>
				</div>
			</div>

			<footer>
				<p>&copy; Company 2011</p>
			</footer>

		</div> <!-- /container -->

		<a id="by-link" href="https://github.com/ServiceStack/SocialBootstrapApi">Social Bootstrap Api</a>
        
		<script type="text/javascript">
		    window.BASE_URL = '@Url.Content("~")';
		</script>

		@ServiceStack.Mvc.MiniProfiler.MiniProfiler.RenderIncludes()
        
        @(false ? Html.Js("~/Content/js/jquery-1.7.js") : Html.Js("http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"))
		@Html.RenderJsBundle("~/Content/js/app.js.bundle", BundleOptions.Combined)
         
		@RenderSection("JavaScript", required: false)
	</body>
</html>