@{
	Assets.Stylesheets.Reference("~/Content/css/bootstrap.css");
	Assets.Stylesheets.Reference("~/Content/default.css");
    Assets.Scripts.Reference("~/Content/js/app/app.js");
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    @Assets.Stylesheets.Render()

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/img/bootstrap-apple-57x57.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Content/img/bootstrap-apple-72x72.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Content/img/bootstrap-apple-114x114.png")">
  </head> 

  <body>
<div id="fb-root"></div>
<div id="fb-root"></div>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="https://github.com/ServiceStack/SocialBootstrapApi">Bootstrap API</a>
          <ul class="nav">
            <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Features", "Home")">Features</a></li>
            <li><a href="@Url.Action("About", "Home")">About</a></li>
          </ul>
          <div id="login">
              <form action="@Url.Content("~/api/auth/credentials")" class="pull-right">
                <input class="input-small" name="UserName" type="text" placeholder="Username">
                <input class="input-small" name="Password" type="password" placeholder="Password">
                <button class="btn" type="submit">Sign in</button>
              </form>
              <div id="signed-in"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
            @if (this.IsSectionDefined("Title"))
			{
				@RenderSection( "Title", required:false);
			}
            else
			{
				<h1>Social Bootstrap API <small> with Twitter and Facebook integration</small></h1>
			}
        </div>
        <div class="row"> 
          <div class="span10">
            @RenderBody()
          </div>
          <div class="span4">
				@RenderSection("SideBar", required:false)
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

    <a id="by-link" href="https://github.com/ServiceStack/SocialBootstrapApi">Social Bootstrap Api</a>

    @Assets.Scripts.Render()
	@RenderSection("JavaScript", required:false)
  </body>
</html>